# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# duze pliki cpp (tep sem3 miniproj)
*.ipch

# zipy rary
*.zip
*.rar

# pliki worda i powerpointa
*.docx
*.pptx

sem4/JS-python/lab2/NASA
sem4/JS-python/lab3/NASA
