<header>
    <h1>Shop Management App</h1>
</header>


<h1>Article Management</h1>



<div>
  <h3>Add New Article</h3>
  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="newArticle.name"
  />
  <select [(ngModel)]="newArticle.category">
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
  <input
    type="number"
    placeholder="Price"
    [(ngModel)]="newArticle.price"
  />
  <button (click)="addArticle()">Add Article</button>
</div>

<h3>Article List</h3>
<ul>
  <li *ngFor="let article of articles">
    {{ article.name }} ({{ article.category }}) - ${{ article.price }}
    <button (click)="deleteArticle(article.id)">Delete</button>
  </li>
</ul>

<footer>
    <p>© 2025 Shop Management</p>
</footer>
  