@{
    string message = ViewData["Message"] as string;
    ViewData["Title"] = "Losowanie liczby";
}
<h1 class="@("mycolor")">@message</h1>
<a href="/Guess,15">Zacznij zgadywać (przykład: Guess,15)</a>

