@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game 1</h1>
    <p>/Tool/Solve/0/-6/0</p>
    <p>/Tool/Solve/0/0/0</p>
    <p>/Tool/Solve/2/-5/3</p>
    <p>/Tool/Solve/2/3/4</p>

    <h1 class="display-4">Game 2</h1>
    <p>/Set,30</p>
    <p>/Draw</p>
    <p>/Guess,12</p>
</div>
